.project-container {
  margin: auto;
  margin-bottom: 40px;
  border-radius: 5px;
  max-width: 320px;
}

.logo-image-container img {
  max-width: 100%;
  border-radius: 5px;
}

.images-container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.desktop-images-container {
  display: block;
  width: 100%;
}

.mobile-images-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}

.project-image img {
  max-width: 100%;
  border-radius: 2px;
  margin: 10px auto;
  display: block;
}

.mobile-image {
  padding: 5px;
}

.project-header {
  margin: auto;
  max-width: 400px;
  padding: 36px 30px 30px 30px;
  font-family: 'Lexend Giga', sans-serif;
}

.project-header a {
  text-decoration: none;
  color: inherit;
}

.info-paragraph {
  font-size: 14pt;
  margin: auto;
  padding: 10px 30px;
  max-width: 400px;
  font-family: 'Nunito Sans', sans-serif;
}

.project-links {
  padding: 10px 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10pt;
}

.link-border {
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  display: inline-block;
  width: 50%;
  min-width: 100px;
  max-width: 250px;
  border-radius: 2px;
  font-weight: 600;
  text-align: center;
}

.live-site-link {
  width: 85%;
  min-width: 200px;
  border-radius: 2px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12pt;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .project-container {
    padding: 0;
  }
  .display-container {
    margin: auto;
    margin-bottom: 50px;
  }

  .main-display {
    padding-left: 14px;
    min-width: 415px;
  }

  .secondary-display {
    min-width: 500px;
    width: 100%;
  }

  .project-header {
    max-width: 510px;
  }

  .info-paragraph {
    font-size: 12pt;
    max-width: 510px;
  }

  .project-link {
    max-width: 130px;
  }

  .live-site-link {
    max-width: 220px;
  }

  .images-container {
    margin-bottom: 20px;
  }
}