.project-container {
  padding: 0 10px;
  margin: auto;
}

.images-container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.desktop-images-container {
  display: block;
  width: 100%;
}

.mobile-images-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}

.project-image img {
  max-width: 100%;
  border-radius: 2px;
  margin: 10px auto;
  display: block;
}

.mobile-image {
  padding: 5px;
}

.project-header {
  margin: auto;
  max-width: 400px;
  padding: 36px 30px 16px 30px;
  font-family: 'Lexend Giga', sans-serif;
}

.info-paragraph {
  font-size: 14pt;
  margin: auto;
  padding: 10px 30px;
  max-width: 400px;
  font-family: 'Nunito Sans', sans-serif;
}