$background-main: rgb(10, 12, 20);
$text-main: rgb(248, 251, 255);
$section-height: 14em;
$highlight-color: rgb(129, 74, 11);
$text-dark: rgb(27, 16, 4);
$light-blue: #c9edff;
$cream-orange: #ffb451;
$dark-orange: rgb(14, 12, 11);
$strawberry: #e19696;
$mint: #b0ffd2;
$pearBlue: #d7f8ff;

.dark,
.dark * {
  background-color: $background-main;
  color: $text-main;
}

.light {
  background-color: white;
  color: $background-main;
}

.light .project-link {
  color: $text-dark;
}

.light .live-site-link {
  background-color: rgb(221, 221, 221);
}

.light-blue {
  background-color: $light-blue;
}

.cream-orange {
  background-color: $cream-orange;
  color: $text-dark;
}

.cream-orange .project-link {
  color: $text-dark;
}

.cream-orange .live-site-link {
  background-color: white;
}

.dark-orange {
  background-color: $dark-orange;
  color: $cream-orange;
}

.dark-orange .project-link {
  background-color: $cream-orange;
  color: $text-dark;
}

.strawberry {
  background-color: $strawberry;
  color: $text-dark;
}

.strawberry .project-link {
  color: $text-dark;
}

.mint {
  background-color: $mint;
  color: $text-dark;
}

.mint .project-link {
  background-color: white;
  color: $text-dark;
}

.pearBlue {
  background-color: $pearBlue;
  color: $text-dark;
}

.pearBlue .project-link {
  color: $text-dark;
  background-color: white;
}

.heading,
.hero {
  font-family: 'Lexend Giga', sans-serif;
}

.drop-shadow {
  box-shadow: 0px 3px 20px -12px $text-dark;
}

@media only screen and (min-width: 768px) {
}